body {
    background-color: midnightblue;
}
.her {
    background-color: red;
    border-radius: 30px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px black;
}
h1 {
    background-color: white;
}
div {
    background-color: white;
}
button:hover {
    cursor: pointer;
}