div {
background-color: lime;
width: 200px;
height: 100px;
border: 2px solid black;
}
.adiv {
background-color: lime;
width: 200px;
height: 100px;
border: 2px solid black;
transition-duration: 0.5s;
transform: all;
}
.adiv:hover {
    transform: rotate(20deg) scale(1.5);
}
body {
    background-color: darkcyan;
}